:root {
  --color-primary: #FFBA33;
  --color-secondary: #6A4029;
  --background-primary: #F8F8F8;
  --background-secondary: #FFFFFF;
  --color-line: #9F9F9F;
  --shadow: #BCBABA;
  --font-primary: 'Rubik', sans-serif;
  --font-secondary: 'Poppins', sans-serif;
  --padding-primary: 60px;
  --padding-secondary: 100px;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@400;700;900&family=Rubik:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: var(--font-primary);
}

body {
  max-width: 1482px;
}

a {
  color: #000000;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: var(--background-primary);
  border-bottom: 0.5px solid var(--color-line);
  padding: var(--padding-primary) var(--padding-secondary);
}

header>* {
  font-family: var(--font-primary);
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav .logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

nav .menu {
  display: none;
  width: 30px;
  height: 30px;
}

.logo img {
  width: 33px;
  height: 33px;
}

.logo h1 {
  font-size: 20px;
  font-weight: 700;
}

nav .menu-list ul {
  display: flex;
  gap: 40px;
}

nav .menu-list ul li {
  font-size: 14px;
}

nav .menu-list .active,
nav .menu-list ul li:hover {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-secondary);
}

nav>.login>ul {
  display: flex;
  gap: 40px;
}

nav>.login .signup {
  padding: 13px 45px;
  border: 2px solid var(--color-primary);
  border-radius: 50px;
  background-color: var(--color-primary);
}


/* HOME */

.container-home {
  background-image: url(./assets/home.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding: var(--padding-primary) var(--padding-secondary);
  background-position: left 52% bottom 37%;
  height: 645px;
}

.home-wrapper {
  color: var(--background-secondary);
}

.home-wrapper .title,
.home-wrapper .desc,
.home-wrapper .get {
  font-weight: 700;
}

.home-wrapper .title {
  font-size: 50px;
  line-height: 70px;
  margin-bottom: 20px;
}

.home-wrapper .desc {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
}

.home-wrapper .get {
  width: 250px;
  height: 60px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

/* BENEFIT */

.container-benefit {
  padding: var(--padding-primary) var(--padding-secondary);
}

.benefit-wrapper {
  display: flex;
}

.container-benefit .card {
  position: relative;
  background-color: var(--background-secondary);
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  transform: translateY(-90%);
  border-radius: 10px;
  box-shadow: 0 0 57px 0 rgb(0 0 0 / 6%);
}

.staff,
.stores,
.customers {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.staff .txt .number,
.stores .txt .number,
.customers .txt .number {
  font-size: 25px;
  font-weight: 700;
}

.staff .txt .name,
.stores .txt .name,
.customers .txt .name {
  font-size: 20px;
  color: var(--color-line);
}

.container-benefit .stores {
  height: 125.57px;
  border-right: 1px solid var(--color-line);
  border-left: 1px solid var(--color-line);
}

.container-benefit .card .img {
  width: 55px;
  height: 55px;
  background-color: var(--color-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefit-wrapper .img {
  flex: 1;
}

.benefit-wrapper .img img {
  width: 573px;
  height: 457px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.benefit-wrapper .benefit {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px;
  gap: 50px;
}

.benefit-wrapper .benefit .title {
  font-size: 35px;
}

.benefit-wrapper .benefit .desc {
  line-height: 30px;
}

.benefit-wrapper .benefit .benefit-list li {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

/* FAVORITE */

.container-favorite {
  padding: var(--padding-primary) var(--padding-secondary);
  background-color: var(--background-primary);
}

.container-favorite .title,
.container-favorite .desc {
  text-align: center;
}

.container-favorite .title {
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 500;
}

.card-favorite {
  display: flex;
  justify-content: space-between;
}


.card-favorite .card-wrapper {
  background-color: var(--background-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 330px;
  height: 567px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 160px;
  padding-bottom: 30px;
}

.card-wrapper .card-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 65px;
}

.card-top .name {
  margin: 40px 0px;
  font-size: 18px;
  font-weight: 500;
}

.card-wrapper .card-top .img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  box-shadow: 0px 30px 60px rgb(57 57 57 / 10%);
}

.style-img1 {
  background-image: url(https://s3-alpha-sig.figma.com/img/b8f7/0e2a/0d98dd6a1ea259209e5b715734ee5a22?Expires=1676246400&Signature=hdguLaVLwNQpQJMXitJa5MhhE3uSaXQ6LNl0kn8LHGOVPjD2q~NyV5hA2D0Re0nF4cx-zLcIvJ1Q8RSEisExR0c6yntZNV1rOf0f7sGcsY-svpyrn~z09rld1IBP0vup7OR8ranoBJVw7dZdOG28ZlshbIpJY3n8ZTc3oWDhQFD~huRPi-U61FvmJjqq7hJe393mcLk3Q64txX0DvbCYKleDOSCyhXH5pSaJ34mKRDmzRdqUuqo3byOx24JBILIMNkrpakmKZ-j2aJbhM8a10W7Kb40yMTtUsh4qjydu6--teZxgeNH2ipzjpL8xkmTxaRHYhMZJWk31IEWYM1hVVA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: right -24px bottom -60px;
}

.style-img2 {
  background-image: url(https://s3-alpha-sig.figma.com/img/1195/e3b7/a63f096d3edcb57b0bc937039acae071?Expires=1676246400&Signature=F-objlGTm52hXUh-xaLhkzH9beBD4fXV4Wovf5HRCusG~-806r29q2w~ez~kliJFzufeYgDu0SCpDlr7EIikcynmtxb-9us5ehRYYl9pFfJ4WSZwWUooDI8pDuKPwSJ5lLT5NMFt~6~CJOw484YFr6IdWNetDBoamXeAN1kX4O7ie~K0RSBkb-vYC4IpfYr89FrO1oPbpEQoCyS-BvUIv9L5MjjB9X7hoSfLoUFtmjIA1LrQK3RDBddUeQUtyNq8yvrwGQL84JoW40Ay9wzMHsybrM-u9GND8llVFNS2gvbbgR3x6m9d8DO0rZgZXOyIE4iPcTEzRGJYQ~L6-RJjEg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: right -38px bottom -80px;
}

.style-img3 {
  background-image: url(https://s3-alpha-sig.figma.com/img/01c2/516d/130f4255d3fd6c5a42948d74ac2a14f4?Expires=1676246400&Signature=fdUI2ywbPSm5LxU39fkveXaHLPe5epxeNMH3qTUe3uZDTB7Pq7-T04VTZzG2WzirxDQgSk654kI-845jEoj4ZGH9Rzo28q1K0io6mjb5GskMGDj6o5IaRz3WVTH6ZD7QF21IgEk~0F-g-kAyrsUtanKui9PwO7ArP24BcYiocfRCRlR6frdO1vKndTy9ktNHINpLnyXIFw3eLp~AXRH-anBPBh-r~S96dej2ql6TTXmjBUcah8PGB8YKBocQwabWVzEdeZhr5m8vgAcQNfGCiQflY84P86r800K7-Nk5cOZyeMsMzoT0auGZ0jMWhdKw9GZEa1chguUcsEwI1xjPtQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right 0px bottom -13px;
}

.fav-list ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
}

.fav-list ul li {
  display: flex;
  gap: 25px;
}

.card-bottom {
  text-align: center;
}

.card-bottom .price {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}

.card-bottom .order {
  width: 177.88px;
  height: 45px;
  border-radius: 50px;
  border: 2px solid var(--color-primary);
  background-color: var(--background-secondary);
}

.card-bottom .order:hover {
  background-color: var(--color-primary);
}

/* PARTNER */

.container-partner {
  padding: var(--padding-primary) var(--padding-secondary);
}

.partner-wrapper h1,
.partner-wrapper p {
  text-align: center;
}

.partner-wrapper h1 {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 20px;
}

.partner-wrapper p {
  font-size: 16px;
  margin-bottom: 156px;
}

.partner-wrapper .map {
  text-align: center;
}

/* TESTIMONI */

.container-testimoni {
  padding: 80px 0px 90px 100px;
}

.container-testimoni .partners {
  margin-bottom: 97px;
}

.container-testimoni .partners .title-partner {
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 70px;
}

.container-testimoni .partners .sponsor {
  display: flex;
  align-items: center;
  gap: 47px;
}

.sponsor li {
  width: 190px;
}

.sponsor li img {
  width: 100%;
  filter: grayscale(100%);
  opacity: 0.5;
}

.container-testimoni .title,
.container-testimoni .desc {
  text-align: center;
}

.container-testimoni .title {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 20px;
}

.container-testimoni .desc {
  margin-bottom: 60px;
}

.container-testimoni .card-wrapper {
  display: inline-flex;
  gap: 20px;
}

.container-testimoni .card {
  width: 400px;
  height: 230px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px 30px;
}

.container-testimoni .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.container-testimoni .profile {
  display: flex;
  gap: 20px;
}

.container-testimoni .rate {
  display: flex;
  gap: 12px;
}

.container-testimoni .profile img {
  width: 50px;
  width: 50px;
  border-radius: 50%;
}

.container-testimoni .card .card-desc {
  line-height: 30px;
}

.container-testimoni .pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  padding-right: var(--padding-secondary);
}

.container-testimoni .pagination .left {
  display: flex;
  gap: 15px;
}

.container-testimoni .pagination .right {
  display: flex;
  gap: 20px;
}

.page-active {
  width: 30px !important;
  border-radius: 10px !important;
  background-color: var(--color-secondary) !important;
}

.container-testimoni .pagination .left button {
  content: "";
  width: 15px;
  height: 15px;
  border: 1px solid var(--color-line);
  border-radius: 50%;
}

.container-testimoni .pagination .right button {
  width: 60px;
  height: 60px;
  border: 1px solid var(--color-secondary);
  border-radius: 50%;
  background-color: var(--background-secondary);
}

.container-testimoni .pagination .right button:hover {
  background-color: var(--color-secondary);
  background-image: url(./assets/arrow-hover.svg);
  background-repeat: no-repeat;
  background-position: left 50% top 50%;
  transform: rotate(180deg);
}

.container-testimoni .pagination .right .arrow-right:hover {
  transform: rotate(0deg);
}

.arrow-right {
  transform: rotate(180deg);
}

footer {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-primary) var(--padding-secondary);
  background-color: var(--background-primary);
}

.footer-desc .footer-icon {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
  gap: 15px;
}

.footer-desc .desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}

.footer-desc {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-icon img {
  width: 30px;
  height: 33px;
}

.footer-desc .copyright {
  font-size: 16px;
  font-weight: 400;
  color: #AFB5C0;
}

.footer-menu {
  display: flex;
  gap: 127px;
}

.footer-menu .product h2,
.footer-menu .engage h2 {
  margin-bottom: 20px;
}

.footer-menu>.product>.product-list,
.engage .engage-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-media ul {
  display: flex;
  gap: 20px;
}

.social-media ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  background-color: var(--color-primary);
}

.fa-facebook,
.fa-twitter,
.fa-instagram {
  color: var(--color-secondary);
}

.pointer {
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 768px) {

  nav .menu-list,
  nav .login {
    display: none;
  }

  nav .menu {
    display: inline;
  }

  .home-wrapper {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

  .home-wrapper .title {
    font-size: 2rem;
    line-height: normal;
  }

  .home-wrapper .desc {
    font-size: 1rem;
  }

  .home-wrapper .get {
    width: 20%;
  }

  .stores {
    height: auto;
  }

  .customers,
  .stores,
  .staff {
    gap: 10px;
  }

  .staff .txt .number,
  .stores .txt .number,
  .customers .txt .number {
    font-size: 18px;
  }

  .staff .txt .name,
  .stores .txt .name,
  .customers .txt .name {
    font-size: 14px;
  }

  .container-benefit .card {
    transform: translateY(-90%);
  }

  .benefit-wrapper {
    flex-direction: column-reverse;
  }

  .container-favorite {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-favorite {
    flex-direction: column;
  }

  .partner-wrapper .map img {
    width: 100%;
  }

  .container-testimoni {
    padding: 80px var(--padding-secondary);
    overflow-x: hidden;
  }

  .container-testimoni .card-wrapper {
    display: inline-flex;
    gap: 10px;
  }

  .pagination {
    flex-direction: column-reverse;
    justify-content: center;
    width: 120%;
  }

  .pagination .right {
    position: relative;
    bottom: 218px;
  }

  .arrow-left {
    position: relative;
    right: 252px;
  }

  .arrow-right {
    position: relative;
    left: 252px;
  }

  footer {
    padding: 50px 100px;
  }

  .footer-menu {
    gap: 30px;
  }

  .footer-desc .footer-icon {
    margin-bottom: 0px;
  }

}

@media (max-width: 428px) {

  header {
    padding: 10px 40px;
  }

  .container-home {
    padding: 40px;
  }

  .home-wrapper .get {
    width: 40%;
  }

  .container-benefit,
  .container-partner,
  .container-favorite,
  .container-partner,
  .container-testimoni {
    padding: 40px;
  }

  .container-benefit .stores {
    height: auto;
  }

  .benefit-wrapper .img img {
    width: 100%;
  }

  .container-testimoni .title {
    font-size: 25px;
  }

  footer {
    padding: 60px 40px;
    flex-direction: column-reverse;
  }

  .footer-desc .footer-icon,
  .footer-desc .desc {
    position: relative;
    transform: translateY(-155px);
  }

  .footer-menu {
    transform: translateY(175px);
  }

  .footer-menu .product h2,
  .footer-menu .engage h2 {
    font-size: 16px;
  }

  .social-media,
  .footer-desc .copyright {
    transform: translateY(30px);
  }
}