:root {
  --color-primary: #FFBA33;
  --color-secondary: #6A4029;
  --background-primary: #F8F8F8;
  --background-secondary: #FFFFFF;
  --color-line: #9F9F9F;
  --shadow: #BCBABA;
  --font-primary: 'Rubik', sans-serif;
  --font-secondary: 'Poppins', sans-serif;
  --padding-secondary: 100px
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@400;700;900&family=Rubik:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  max-width: 1482px;
}

a {
  color: #000000;
}

.pointer {
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: var(--background-primary);
  border-bottom: 0.5px solid var(--color-line);
  padding: 0px var(--padding-secondary);
}

header>* {
  font-family: var(--font-primary);
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav .logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

nav .menu {
  display: none;
  width: 30px;
  height: 30px;
}

.logo img {
  width: 33px;
  height: 33px;
}

.logo h1 {
  font-size: 20px;
  font-weight: 700;
}

nav .menu-list ul {
  display: flex;
  gap: 40px;
}

nav .menu-list ul li {
  font-size: 14px;
}

nav .menu-list .active,
nav .menu-list ul li:hover {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-secondary);
}

nav .menu-profile ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

nav .menu-profile ul .search {
  background-color: var(--background-secondary);
}

nav .profile ul .notif::after {
  content: "1";
  background-color: var(--color-secondary);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  color: var(--background-secondary);
  font-size: 12px;
  transform: translate(-37px, -6px);
}

nav .profile ul {
  display: flex;
  gap: 32px;
}

.container-product {
  display: flex;
  padding: 0px 80px;
}

.product-txt {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 29px 55px 0px 0px;
  flex: 1;
  border-right: 0.5px solid var(--color-line);
  gap: 30px;
}

.product-txt>* {
  font-family: var(--font-secondary);
}

.product-txt .title-product,
.product-txt .desc-product {
  text-align: center;
}

.product-txt .title-product {
  font-size: 25px;
  font-weight: 700;
}

.product-txt .card-promo {
  position: relative;
  height: 472px;
  width: 284px;
  background-color: #FFCB65;
  border-radius: 20px;
}

.product-txt>.card-promo::before {
  content: "";
  position: absolute;
  width: 284px;
  height: 338px;
  background-color: #895537;
  border-radius: 20px;
  top: 60px;
  left: 40px;
  z-index: -2;
}

.product-txt>.card-promo::after {
  content: "";
  position: absolute;
  width: 284px;
  height: 400px;
  background-color: #000000;
  border-radius: 20px;
  top: 30px;
  left: 20px;
  z-index: -1;
}

.promo-wrapper .promos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27px 18px;
  gap: 20px;
  text-align: center;
}

.promos .promo-title {
  font-size: 22px;
  font-weight: 700;
}

.promos .promo-desc {
  font-size: 14px;
}

.txt-cuopon .txt-title {
  font-size: 16px;
}

.txt-cuopon .code-promo {
  font-size: 33px;
  font-weight: 700;
}


.promo-wrapper .promo-img {
  background: url(https://s3-alpha-sig.figma.com/img/6238/2256/ccd5197c46dea0234e2cdb3b0e19fa85?Expires=1676246400&Signature=IbDuPbSzaMduNpmO25vtb0qKWO0D6kvStw557UqzpJsbKi6AR3~I1onXtThMy~9ueNZryP9Zun9E960SyxmOaAjw4fMn4iyjVDmGt2jPOoVoFkt2L823xcqrvuI-a~qOu3dJ7OkyUTAxqLvrfwSU0CEpZTMv-VQ9klgIkMgOcYtMTOmOZM7va3Dg-XsZYg40AjxNX-MbgJ72a2cIWVgkP44sX2RQear1vtwYhbkJZ-fXMCrItOkPy8FPsWzBs5GEd2-1rwHGLXQK9ETmSGGyVyvPPzo3i0zUVl58tp9l7U5NRLEQ0TQh6sm5bJuigDHdyeEzrYplLvedMQJ3oHs0XQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
  width: 128.98px;
  height: 128.98px;
  border-radius: 50%;
  background-size: 200%;
  background-position: right 55% bottom 25%;
}

.card-promo .promo-desc {
  text-align: center;
}

.promo-wrapper .txt-cuopon {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  width: 100%;
  margin: 0px !important;
  border-top: 3px dotted black;
  padding-top: 20px;
}

.btn-cuopon {
  width: 284px;
  height: 64px;
  background-color: var(--color-secondary);
  border-radius: 20px;
  border: none;
  color: var(--background-secondary);
  font-size: 17px;
  font-weight: 700;
}

.product-txt .list ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 12px;
  font-weight: 400;
}

.menu-product>* {
  font-family: var(--font-secondary);
}

.menu-product {
  padding: 29px 0px 0px 98px;
  flex: 2;
}

.menu-product ul {
  display: flex;
  justify-content: space-between;
}

.menu-product .product-actives {
  padding: 0 15px 10px;
  font-weight: 700;
}

.underline {
  color: var(--color-secondary);
  border-bottom: 3px solid var(--color-secondary);
  box-shadow: 0px 6px 20px rgba(106, 64, 41, 0.67);
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 50px;
  padding: 100px 0;
}

.card {
  width: 156px;
  height: 213px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 30px 60px rgba(57, 57, 57, 0.1);
}

.card .card-img {
  position: relative;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  bottom: 50px;
}

.card .img-style1 {
  background-image: url(https://s3-alpha-sig.figma.com/img/eb89/44d7/59339e337c28bfc186fa32260b9a33c7?Expires=1676246400&Signature=bGtb2Q9RVTFabUOuTPWCIi3lbrIDk8O6EDYiG0aKsMKDWEm24M8XvOTapbNPQnFi1izvBKynjmLoU033QHdhVCgCoitGw31A3nw2k3sWwX6tar9UFV5e-YnLTS8Gv9xUr1YFCwYHfJx7tTGnTkSt~ctVeE~GPbvCpOKgOP4ACAlJbXLMFcisPbtj5AVy7zJimckd0egpRrlhOeRxvMUh8SHMndySS9E1x8ahWFHpgAzPdHVckNE5D0tU2zGHBIedNGVU4kZqUMB09Uq8mU5YzwZ1VyKFXzmaXgIGm1kKWIglCNdv7-jTtmNDjNPNH17V~1HX8a1Ie-0qv~Uqag2TBQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
  background-size: 200%;
  background-position: right 55% bottom 55%;
}

.card .img-style2,
.card .img-style10 {
  background-image: url(https://s3-alpha-sig.figma.com/img/e927/9050/cf7ff0ed682c5b1138bcefc23b8d2817?Expires=1676246400&Signature=bSRnUg~RXhU1rIEluVYKka7j8SUR5gxpwo~UJ-oWlMcH3u5zVO8HnnJ2iPsqrig5mh37RNjqONCGsIcylIHLkIeRdwA53obcTtQViK17RN5eThmZFKGb09bOTh8aL7LrAOIPY9eONr2heYhytxrZgz9vqXhYaqG~kNVYsyqCkrN19dlAwqF8tBD8AEUr1GTRU3IetAEUHLdsvhK2C2QcGQoW4~5tspkCgTiqK6oIpryWZZF8qrsVH41uyNMwOW7S5tgNFMeYFckvX2IuvmARt1XcGkEUu~jaWj7oiQZ6kUWp8Tw3ULCD28qsmgor0NG38~eI7jf25sMftr8rVrkl6g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
  background-size: 170%;
  background-position: right 50% bottom 70%;
}

.card .img-style3,
.card .img-style7,
.card .img-style11 {
  background-image: url(https://s3-alpha-sig.figma.com/img/05d2/2dde/db32c62ddc3bb93b3bd487e381aa3644?Expires=1676246400&Signature=fZnKBwpad5Q8UgNQ2Y-M7GHQurg-ipD98mbuCwWaJPGhZKrZXz2M1UZ~DZVV2Ip8E5mCfZIGbXV~PQQQFfvI4MWy3t70WZR8fhNq39O1HeMPlDYBXmJFZU64g3~2azhwsMQkNHLvjAj9Dl04Q~phggGdjjegA61OHlcitwxrjYbGBz04D9tSApHffJhxS7bBhVCpj8fTheyvHEp227ydL45V8GSmeRanK7ydf-8fD3eZZNqSfLSed029aOhBinL0gu8YICFMTfkx1fUYW2RphcVLitNt3zfnnFVQS3-KoNIIjz8no-vTN~w-ESNmh9f5yZ-qp2nwomlg1p35QTu9VQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
  background-size: 160%;
  background-position: right 50% bottom 50%;
}

.card .img-style4,
.card .img-style8,
.card .img-style12 {
  background-image: url(https://s3-alpha-sig.figma.com/img/b8f7/0e2a/0d98dd6a1ea259209e5b715734ee5a22?Expires=1676246400&Signature=hdguLaVLwNQpQJMXitJa5MhhE3uSaXQ6LNl0kn8LHGOVPjD2q~NyV5hA2D0Re0nF4cx-zLcIvJ1Q8RSEisExR0c6yntZNV1rOf0f7sGcsY-svpyrn~z09rld1IBP0vup7OR8ranoBJVw7dZdOG28ZlshbIpJY3n8ZTc3oWDhQFD~huRPi-U61FvmJjqq7hJe393mcLk3Q64txX0DvbCYKleDOSCyhXH5pSaJ34mKRDmzRdqUuqo3byOx24JBILIMNkrpakmKZ-j2aJbhM8a10W7Kb40yMTtUsh4qjydu6--teZxgeNH2ipzjpL8xkmTxaRHYhMZJWk31IEWYM1hVVA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
  background-size: 180%;
  background-position: right 45% bottom 45%;
}

.card .img-style5 {
  background-image: url(https://s3-alpha-sig.figma.com/img/1435/5aac/b20467f3d51ed75ea25f348b7faab9fb?Expires=1676246400&Signature=odjUIOeQnmBGadm~pO02y7QZdrkSU2RN8hAYYRtsROY9jdfRnrNfx-HHocVxo6N7IY9BfP7mt9yUYflYzax18hb2aivgmhY6x4gBSbl7jDXOH43IYd8QuuJDxuz16Uim8uaiJzjp0TRuqcU75g~35hNHX83ZRnwMC3wdenYdXkJC0PjUxOztNU7KW94zYjooZdEp1YR2gK57Cykkne5F88uxeSaWU5hvjFxtFUwTYJwILNptiUYFMVCRbU8Rq~erH4xWfh7~UBtbcr~-W43xzus5E~vqrlTTcEwmMnzciz4YKJQdOhWSMXEwlfZ4GmmPm9zVreA5jrti4-V4n6fqZw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
  background-size: 170%;
  background-position: right 52% bottom 70%;
}

.card .img-style6 {
  background-image: url(https://s3-alpha-sig.figma.com/img/6ae1/8111/f0f7b86649f85bc5dd07e32cc4663d44?Expires=1676246400&Signature=hmb-JQ4tviWTrtIp4ga7R4zRRNZa2py3qKOvIV1xr6ALnFmReNbL5PZI~a9mGJYIVMD2oYyFEGk2ngehvBEkf36AZbqtGhhshZfpqBsfflUOaxuV7FXCdjmDH70g2EksdE4~3cS3vdUTAwy7-atx-Ceue99YaXyhaZyHagFeACq-lgDjDHNwqRPKoJqksl2RCWFspP7XJ4IV5zVSGFHbZ5fVwysivWFPwX3V25PfxIpW4LaHBMcWsVTXjnYYeeE7GFadyzSvLrYrMupi3kuPpKyXgrjUr-2wcYYc~d2hJ5eEZyO3Z10OTvN-u7Gkm9EhxCGKe-PF9huxPwNLKwzHGg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
  background-size: 200%;
  background-position: right 50% bottom 70%;
}

.card .img-style9 {
  background-image: url(https://s3-alpha-sig.figma.com/img/eb89/44d7/59339e337c28bfc186fa32260b9a33c7?Expires=1676246400&Signature=bGtb2Q9RVTFabUOuTPWCIi3lbrIDk8O6EDYiG0aKsMKDWEm24M8XvOTapbNPQnFi1izvBKynjmLoU033QHdhVCgCoitGw31A3nw2k3sWwX6tar9UFV5e-YnLTS8Gv9xUr1YFCwYHfJx7tTGnTkSt~ctVeE~GPbvCpOKgOP4ACAlJbXLMFcisPbtj5AVy7zJimckd0egpRrlhOeRxvMUh8SHMndySS9E1x8ahWFHpgAzPdHVckNE5D0tU2zGHBIedNGVU4kZqUMB09Uq8mU5YzwZ1VyKFXzmaXgIGm1kKWIglCNdv7-jTtmNDjNPNH17V~1HX8a1Ie-0qv~Uqag2TBQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
  background-size: 170%;
  background-position: right 50% bottom 50%;
}

.card .product-name .card-title {
  text-align: center;
  font-size: 22px;
  font-weight: 900;
  line-height: 22.29px;
  padding: 0 18px;
  margin: -40px 0px 10px 0px;
}

.card .product-name .price {
  text-align: center;
  font-weight: 700;
  font-size: 17px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 100px 151px;
  background-color: var(--background-primary);
}

.footer-desc .footer-icon {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
  gap: 15px;
}

.footer-desc .desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}

.footer-desc {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-icon img {
  width: 30px;
  height: 33px;
}

.footer-desc .copyright {
  font-size: 16px;
  font-weight: 400;
  color: #AFB5C0;
}

.footer-menu {
  display: flex;
  gap: 127px;
}

.footer-menu .product h2,
.footer-menu .engage h2 {
  margin-bottom: 20px;
}

.footer-menu>.product>.product-list,
.engage .engage-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-media ul {
  display: flex;
  gap: 20px;
}

.social-media ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  background-color: var(--color-primary);
}

.fa-facebook,
.fa-twitter,
.fa-instagram {
  color: var(--color-secondary);
}

@media (max-width: 768px) {
  header {
    padding: 0px;
    width: 100%;
    position: fixed;
    z-index: 1;
  }

  nav {
    padding: 0px 50px;
  }

  nav .menu-list,
  nav .profile {
    display: none;
  }

  nav .menu {
    display: inline;
  }

  .container-product {
    padding: 0px 0px;
    flex-direction: column-reverse;
  }

  .menu-product {
    padding: 30px 60px;
  }

  .menu-product ul {
    display: none;
  }

  .card-wrapper {
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    margin-top: 10%;
  }

  .product-txt {
    padding: 30px 0px;
    border: none;
    border-top: 2px dashed;
  }

  footer {
    padding: 50px 100px;
  }

  .footer-menu {
    gap: 30px;
  }

  .footer-desc .footer-icon {
    margin-bottom: 0px;
  }

}

@media (max-width: 428px) {
  :root {
    --padding-secondary: 40px;
  }

  nav {
    padding: 10px 40px;
  }

  .menu-product {
    padding: 0px 10px;
  }

  .menu-product ul {
    display: none;
  }

  .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }


  footer {
    padding: 60px 40px;
    flex-direction: column-reverse;
  }

  .footer-desc .footer-icon,
  .footer-desc .desc {
    position: relative;
    transform: translateY(-155px);
  }

  .footer-menu {
    transform: translateY(175px);
  }

  .footer-menu .product h2,
  .footer-menu .engage h2 {
    font-size: 16px;
  }

  .social-media,
  .footer-desc .copyright {
    transform: translateY(30px);
  }
}